<h2>Lista de Productos</h2>

@if (cargando()){
    <p>Cargando productos...</p>
}

@if (errorCarga() !== null){
    <p> {{ errorCarga() }} </p>
}

@if (numeroProductos() > 0) {
    <p>Productos disponibles: {{ numeroProductos() }}</p>
} @else {
    <p>No hay productos disponibles</p>
}

<button (click)="restablecerProductos()">Restablecer productos</button>

@for (producto of productos(); track producto.id){
<app-producto
    [producto]="producto" 
    (eliminado)="eliminarProducto($event)"> <!-- $event contains what the child emitted -->
</app-producto>
}

<br>
<br>
<button (click)="cargarDesdeApi()">Probar API</button>